/* Grid til de den overordnede struktur af 5 faser 
i afklaringsforløbet samt title start */
.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.2fr 0.6fr 0.1fr 2fr 0.15fr 0.7fr;
	gap: 0px 0px;
	grid-template-areas:
	"title"
	"faser"
	"top_deler"
	"info"
	"bund_deler"
	"bund";
	margin-right: 50px;
}

.title {
	grid-area: title;
	font-family: open sans;
}

/* Grid til de den overordnede struktur af 5 faser 
i afklaringsforløbet samt title slut */

/* Grid til knapperne i toppen af de fem faser start */

.faser {
	display: grid;
	grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
	grid-template-rows: 0.6fr 0.2fr;
	gap: 0px 0px;
	grid-template-areas:
	"fase_1_img . fase_2_img . fase_3_img . fase_4_img . fase_5_img"
	"fase_1_title . fase_2_title . fase_3_title . fase_4_title . fase_5_title";
	grid-area: faser;
	place-items: center;
}

.fase_1_img {
	grid-area: fase_1_img;
}

.fase_2_img {
	grid-area: fase_2_img;
}

.fase_3_img {
	grid-area: fase_3_img;
}

.fase_4_img {
	grid-area: fase_4_img;
}

.fase_5_img {
	grid-area: fase_5_img;
}

.fase_img:hover {
	fill: grey;
	opacity: 0.5;
}

.fase_1_title {
	grid-area: fase_1_title;
}

.fase_2_title {
	grid-area: fase_2_title;
}

.fase_3_title {
	grid-area: fase_3_title;
}

.fase_4_title {
	grid-area: fase_4_title;
}

.fase_5_title {
	grid-area: fase_5_title;
}

/* Grid til knapperne i toppen af de fem faser slut */


/* CSS til opdeler mellem knapper i toppen
af de 5 faser og info samt de 5 forskellige farver
disse skal have start */

.top_deler {
	grid-area: top_deler;
	border-radius: 25px;
	height: 20px;
}

.deler_1 {
	background-color: #A6BB75;
}

.deler_2 {
	background-color: #D8A55A;
}

.deler_3 {
	background-color: #AA81AC;
}

.deler_4 {
	background-color: #6696AC;
}

.deler_5 {
	background-color: #D7734A;
}

/* CSS til opdeler mellem knapper i toppen
af de 5 faser og info samt de 5 forskellige farver
disse skal have slut */

/* CSS til info del af de 5 faser start */

.info {
	display: grid;
	grid-template-columns: 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 0.5fr;
	grid-template-rows: 1.6fr 0.4fr;
	gap: 0px 0px;
	grid-template-areas:
	". info_1 . info_2 . info_3 ."
	". info_1 . info_2 . info_3 next_button";
	grid-area: info;
	font-family: open sans;
	margin-top: 10px;
}

.info_1 {
	grid-area: info_1;
}

.info_2 {
	grid-area: info_2;
}

.info_3 {
	grid-area: info_3;
}

/* CSS til info del af de 5 faser slut */

/* CSS til nedeste del af de 5 faser start */

.bund_deler { 
	grid-area: bund_deler;
	border-radius: 25px; 
	height: 30px;
}

.bund { 
	display: grid;
	grid-area: bund; 
	position: relative;
	width: 100%;
	text-align: center;
	place-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* CSS til nedeste del af de 5 faser slut */

/* CSS til knapperne i de 5 faser start */

.bund_knap {
	position: absolute;
	z-index: -1;
}

.bund button {
	display: grid;
}

.bund p {
	font-family: Roboto Mono;
	color: white;
	margin: 0;
}

.next_button { 
	display: grid;
	grid-area: next_button;
	position: relative;
	place-items: center;
	padding: none;
	
}

.next_button_button {
	display: grid;
}

.next_button_knap {
	position: absolute;
	place-items: center;
	margin-bottom: 10px;

}

/* CSS til knapperne i de 5 faser slut */

/* CSS til grid på tillykke fase og øverste
del af samme grid start */

.grid-container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 0.1fr 2fr;
    gap: 0px 0px;
    grid-template-areas:
    "tillykke"
    "tillykke_top_deler"
    "tillykke_info";
    margin-right: 50px;
}

.tillykke {
    grid-area: tillykke;
    text-align: center;
    font-family: "Roboto Mono";
    padding: 30px;
}

.tillykke h2 {
    font-size: 40px;
}


.tillykke_top_deler {
    grid-area: tillykke_top_deler;
}

/* CSS til grid på tillykke fase og øverste
del af samme grid start */

/* CSS til info del af grid på tillykke fase start */

.tillykke_info {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 0px 0px;
    grid-template-areas:
    "tillykke_info_1 tillykke_info_2";
    grid-area: tillykke_info;
    margin-top: 10px;
}
/* CSS til info del af grid på tillykke fase slut */


/* CSS til venstre del af grid på tillykke fase start */
.tillykke_info_1 {
    grid-area: tillykke_info_1;
}

.tillykke_info_1 h2 {
    padding-left: 40px;
    font-family: "Roboto Mono";
}

.price_container {
    display: flex;
    padding-left: 40px;
    width: 100%;
}


.price_container p {
    width: 33%;
    font-family: "Roboto Mono";
}
/* CSS til venstre del af grid på tillykke fase slut */


/* CSS til højre del af grid på tillykke fase start */
.tillykke_info_2 {
    grid-area: tillykke_info_2;
    display: grid;
    grid-template-columns: 0.7fr 1.3fr ;
    grid-template-rows: 0.2fr 1.2fr 0.6fr ;
    gap: 0px 0px;
    grid-template-areas:
    "tillykke_info_2_1 tillykke_info_2_1"
    "tillykke_info_2_2 tillykke_info_2_3"
    "tillykke_info_2_4 tillykke_info_2_4";
    font-family: "Roboto Mono";
    background-color: #A6BB75;
}

.tillykke_info_2 h2 {
    padding-left: 40px;
    font-family: "Roboto Mono";
    text-align: center;
}

.tillykke_info_2 p {
    padding-left: 40px;
    font-family: "Roboto Mono";
    text-align: center;
    padding-bottom: 20px;
}

.tillykke_info_2_1 {
	grid-area: tillykke_info_2_1;
}

.tillykke_info_2_2 {
	grid-area: tillykke_info_2_2;
}

.tillykke_info_2_3 {
	grid-area: tillykke_info_2_3;
}

.tillykke_info_2_4 {
	grid-area: tillykke_info_2_4;
}
/* CSS til højre del af grid på tillykke fase slut */


/* CSS til formular på tillykke fase start */
.oplysninger p {
    text-align: left;
    width: 100%;
}

.navn {
    display: flex;
    width: 50%;
    height: 30px;
}

.firma {
    display: flex;
    width: 50%;
    height: 30px;
}

.mail{
    display: flex;
    width: 50%;
    height: 30px;
}

.tlfnr {
    display: flex;
    width: 50%;
    height: 30px;
}


.calender {
    padding: 40px;
}

* {box-sizing: border-box;}
ul {list-style-type: none;}

.month {
  width: 200px;
  background: #6696AC;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
  width: 200px;
}

.weekdays li {
  display: inline-block;
  width: 9%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  width: 200px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 9%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #6696AC;
  color: white !important
}

.btn {
    text-align: right;
    padding-right: 30px;
}

.kontakt_button {
  background-color: #A6BB75;
  border: solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: "Roboto Mono";
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.kontakt_button:hover {
    background-color: #D8A55A;
}

.kontakt_oplysninger {
    padding: 20px;
}

.kontakt_oplysninger p {
    padding: 10px;
    margin: 0;
}
/* CSS til formular på tillykke fase slut */


/* CSS til video controls start */
.container {
	display: flex;
	background: #FFF;
	justify-content: center; 
	align-items: center; 
	height: 100vh;
}

.video {
	width: 100%;
}

.videoplayer {
	width: 100%;
	max-width: 800px;
	position: relative;
	overflow: hidden;
}

.videoplayer:hover .controls {
	transform: translateY(0);
}

.controls {
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100%;
	flex-wrap: wrap;
	background: rgba(0, 0, 0, 0.7);
	transform: translateY(100%) translateY(-5px); /*Denne gør at controlpanelet går 100% ned - gemmer det*/
	transition: all 0.2s;
}

.buttons1 {
	padding: 10px;
	display: flex;
}

.buttons1 button {
	background: none;
	border: 0;
	outline: 0;
	cursor: pointer;
}

#play-pause::before {
	content: '\f144';
	font-family: 'Font Awesome 5 free';
	width: 30px;
	height: 30px;
	display: inline-block;
	font-size: 28px;
	color: #FFF;
}

#play-pause.play::before {
	content: '\f144';
}

#play-pause.pause::before {
	content: '\f28b';
}

#expand-compress::before {
    content:'\f065';
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    font-weight: 900;
    font-size: 28px;
    width: 30px;
    height: 30px;
    color: #FFF;
}

#expand-compress.expand::before {
    content: '\f065';
}

#expand-compress.compress::before {
    content: '\f066';
}


.time-bar {
	height: 10px;
	top: 0;
	left: 0;
	width: 100%;
	background: #000;
}

.hour-glass {
	height: 10px;
	background-color: orangered;
}
/* CSS til video controls slut */

/* CSS til pop up på tillykke fasen start */
.popup-bg{
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 200px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}
.popup{
    background-color: white;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans';
    position: relative;
    background-image: url(../../../../../img/popup-img.png);
} 
.popup h2{
    color: #515f6d;
    font-size: 30px;
}

.popup h3{
    color: #515f6d;
    font-size: 20px;
    font-weight: 300;
}

#date{
    color: #515f6d;
    font-size: 20px;
    font-weight: 500;
	font-family: 'Open Sans';
}

.popup-close{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #515f6d;
    font-weight: bold ;
    cursor: pointer;
} 
/* CSS til pop up på tillykke fasen slut */