.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 0.1fr 2fr;
    gap: 0px 0px;
    grid-template-areas:
    "tillykke"
    "tillykke_top_deler"
    "tillykke_info";
    margin-right: 50px;
}

.tillykke {
    grid-area: tillykke;
    text-align: center;
    font-family: "Roboto Mono";
    padding: 30px;
}

.tillykke h2 {
    font-size: 40px;
}


.tillykke_top_deler {
    grid-area: tillykke_top_deler;
}

.tillykke_info {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 0px 0px;
    grid-template-areas:
    "tillykke_info_1 tillykke_info_2";
    grid-area: tillykke_info;
    margin-top: 10px;
}

.tillykke_info_1 {
    grid-area: tillykke_info_1;
}

.tillykke_info_1 h2 {
    padding-left: 40px;
    font-family: "Roboto Mono";
}

.price_container {
    display: flex;
    padding-left: 40px;
    width: 100%;
}


.price_container p {
    width: 33%;
    font-family: "Roboto Mono";
}


.tillykke_info_2 {
    grid-area: tillykke_info_2;
    font-family: "Roboto Mono";
    background-color: #A6BB75;
}

.tillykke_info_2 h2 {
    padding-left: 40px;
    font-family: "Roboto Mono";
    text-align: center;
}

.tillykke_info_2 p {
    padding-left: 40px;
    font-family: "Roboto Mono";
    text-align: center;
    padding-bottom: 20px;
}

.oplysninger p {
    text-align: left;
    width: 100%;
}

.navn {
    display: flex;
    width: 50%;
    height: 30px;
}

.firma {
    display: flex;
    width: 50%;
    height: 30px;
}

.mail{
    display: flex;
    width: 50%;
    height: 30px;
}

.tlfnr {
    display: flex;
    width: 50%;
    height: 30px;
}


.calender {
    padding: 40px;
}

* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
  width: 200px;
  background: #6696AC;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
  width: 200px;
}

.weekdays li {
  display: inline-block;
  width: 9%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  width: 200px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 9%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #6696AC;
  color: white !important
}

.btn {
    text-align: right;
    padding-right: 30px;
}

.button {
  background-color: #A6BB75;
  border: solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: "Roboto Mono";
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
    background-color: #D8A55A;
}

.kontaktoplysninger {
    padding: 20px;
}

.kontaktoplysninger p {
    padding: 10px;
    margin: 0;
}



